*{outline: solid 1px rgba(255,0,0,0.3);}

<<<<<<< HEAD
.portada{
	background-image: url(../img/background/hero.jpg);
	color: #fff;
}
.titulo h1{
	/*margin-left: -15px;*/
	float: left;
	padding: 0;
}
.titulo h1 img{
	height: 43px;
	width: 70px;
	margin-bottom: -5px;
	padding-bottom: 0;
}
.list-menu{
	float: right;
	margin-top: 25px;
}
.list-menu li{
	padding-left: 20px;
}
.list-menu a{
	list-style: none;
	color: #fff;
}
.list-menu a:hover{
	color: #14E6BC;
	list-style: none;
}
.textpor{
	padding: 200px;
	text-align: center;
}
.laptop{
	padding: 70px;
	text-align: center;
	background-color: #D4D7D7;
}
.laptop img{
	width: 950px
}
parte2
=======
/*portada*/


/*parte1*/

.uno{
	display:block;
	margin:70px 0px;
	}
span{
	font-size:45px;
	}
h2{
	margin-top:10px;
	}
.uno .col-md-4{
	padding: 10px 40px;
	}
/*parte2*/
>>>>>>> 262eb14f925aa6f2d1b5d0ea453f5929063c428a

/*parte3*/
.tres{
	margin:50px 0px;
	background-color: #E8E8E8; 
	}
.menu {
	text-decoration:none;
	padding-top: 27px;
	}
a{
	text-decoration:none;
	color:grey;	
	font-size: 14px;
	margin:7px;	
}
.fondito {
	background-color: white;
	padding:15px;
	width: 550px;
	}
.tres img{
	width: 100%;
	}
.tres .col-md-6{
	padding: ;
	}
.city{
	background: url(../img/background/city.jpg);
	height: 500px;
	opacity: 2;
	}

/*parte4*/

/*parte5*/
